body {
    background-color: #0073ad;
}

h1 {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results div{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}
#results img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}