body {
    background-color: #0073ad;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.movie-card h3 {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
}

.movie-card p {
    font-size: 0.9rem;
    text-align: center;
    color: #000000;
}
